/*

TIP: Manually insert page breaks into the HTML using:
<div style="break-before: page;"> </div>

Or use the firefox dev console:
1) Ctrl-Shift-C to select an element
2) Paste into the styles editor: "break-before: always;"

*/

@page {
    size: auto;
    margin-top: 1.5in;
    margin-bottom: 1.5in;
    margin-left: 0.5in;
    margin-right: 0.5in;
}

@media print {
    /* Helper Class */
    .avoid-page-break-inside {
        break-inside: avoid-page;
    }
    /*  */
    body {
        font-family: "Times New Roman", Times, serif;
    }
    /* Apply the margin at the body's children's level so that images can escape
       the regular margin and span closer to the edge of the page. */
    body > * {
        margin-left: 0.5in;
        margin-right: 0.5in;
    }
    /* Allow images to fill the page margins */
    body > p:has( img) {
        margin-left: 0;
        margin-right: 0;
    }
    /* Don't page-break inside of any of these things. */
    h1, h2, h3, h4, h5, h6 {
        break-inside: avoid;
        break-after: avoid;
    }
    p, ol, li, code, img, th, td {
        break-inside: avoid;
    }
    /* Page break before every chapter header (except for the first chapter). */
    h2 {
        break-before: page;
    }
    h2:first-of-type {
        break-before: avoid;
    }
    /* Scale and center the images on the page. */
    img {
        max-width: 100%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        break-before: avoid;
    }
    table, img {
        margin-top: 0.3125in;
        margin-bottom: 0.3125in;
    }
    /*  */
    table, th, td {
        border: thin solid black;
        border-collapse: collapse;
    }
    th, td {
      padding: 10px;
    }
    /* Do not change hyperlink colors after they've been clicked. */
    a {
        color: blue;
    }
}
@media not print {
    .print-only {
        display: none;
    }
}
